.navbar {
    grid-area: n;
    background-color: #525252;
    min-height: 100%;

}

.navbar .navbarConteiner {
    background-color: #525252;
    height: 100%;
    min-height: 1000px;
    min-height: 100%;

}

.item {
    margin: 20px;

    font-weight: bold;
}

.item a {
    color: #53c498;
    text-decoration: none;
}

.item a:hover {
    color: rgb(155, 161, 161);
}

.item a.active {
    color: #fff;
}