.messenger {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.dialogItem a {
    margin:10px;
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

.dialogItem a:hover {
    font-weight: bolder;
}

.masseges {
    padding: 30px;
    background-color: #ddd;
}