
body {
  background-color: #525252;
}

.app-conteiner {
  background-color: #525252;

  display:grid;
  grid-template-areas:  
  "h h"
  "n c";
  grid-template-rows: 40px 1fr;
    grid-template-columns: 1fr 5fr;
  
}

.app-conteiner-content {
  grid-area: c;
  background-color: rgb(155, 161, 161);
  width: 1000px;
  min-height: 100%;
  padding: 20px;
}
